html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content,
.input-area,
.enter-button {
  display: inline-block;
}

.to-do-header {
  background-color: wheat;
  text-align: center;
  padding: 10px;
}

.main-content {
  padding: 15px;
  width: 100%;
  text-align: center;
}

.display-area {
  background-color: rgb(49, 94, 133);
  padding: 10px;
  margin: 5px;
}

#submission {
  background-color: blanchedalmond;
}

.strike {
  text-decoration: line-through;
}

.todo-item {
  padding: 10px;
  font-size: 20px;
}

li {
  margin: auto;
}

.list-items-div {
  margin: auto;
  width: 500px;
}

button {
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
}

input {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.deleteButton {
  border: 1px solid red;
  color: white;
  background-color: brown;
  margin-left: 30px;
}
